body{

    margin-top: 0;
    margin-bottom: 0;

}

main{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid grey;
    box-sizing: border-box;

}
h2 {
    margin-left: 20px;
    margin-right: 20px;
    font: times;
    font-size: 30px;
    
}

#formulario{
    position: absolute; left: 50px; top: 50px; bottom: 50px;
    width: 500px;
    border: 1px solid grey;
    padding-left: 20px;
    box-sizing: border-box;
}